body{
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container{
  height:100px;
  width:150px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}